.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
  }
.inputstyle {
    border : solid 0px;
}
.buttonstyle {
    border: solid 0.1px #fccd3f;
}
.lgbenur{
    background: none;
}